[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
z3-solver = "*"
networkx = "*"
pandas = "*"
matplotlib = "*"
ffmpeg = "*"

[requires]
python_version = "3.7"
